// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    color: white;
    font-size: 26px;
    font-family: 'Open Sans';
  }

  a:hover {
    text-decoration: none;
    color: #E4E4E4;
  }
}

h1{
  text-align: center;
  color: grey;
  font-size: 40px;
  font-family: 'Open Sans';
  margin: 20px;
}
